body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
html {
  font-family: "Open Sans", sans-serif;
}
.contenedor {
  background-color: #c2e7da;
  padding: 15px;
  text-align: center;
}
.cabecera {
  margin-bottom: 40px;
}
.cabecera .totales {
  font-size: 1.3rem;
}
.cabecera .accion-marcar {
  text-decoration: none;
  color: inherit;
  font-size: 0.8rem;
}
.senyor {
  text-align: left;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #6290c3;
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
}
.senyor .icono {
  background-color: #060;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;

}
.senyor:hover .icono {
  display: inline-block;
}
.senyor .avatar {
  width: 20%;
  padding-right: 15px;
  position: relative;
}
.senyor .avatar img {
  border-radius: 50%;
  transition: transform 0.3s;
}

.senyor:hover .avatar img {
  transform: rotateY(180deg);
}

.senyor .avatar .inicial {
  border-radius: 50%;
  background-color: #600;
  color: #fff;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  position: absolute;
  right: 8px;
  top: 90px;
}
.senyor .info {
  padding-left: 15px;
  border-left: 2px dashed #fff;
}
.senyor .info li {
  margin-bottom: 10px;
}
.senyor .info .etiqueta {
  width: 100px;
  display: inline-block;
}
@media (min-width: 800px) {
  .senyor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .contenedor {
    width: 1140px;
    margin: 0 auto;
  }
}

.off {
  display: none;
}
